<article>
    <div class="picture">
        <img class="user-image" src="../../../../assets/img/WhatsApp Image 2024-08-18 at 22.15.49.jpeg" alt="Profile picture">
    </div>
    <div class="info">
        <h2 class="full-name">Ángel Porlán</h2>
        <span class="username">&#64;angelporlandev</span>
        <div class="social-media">
            <img class="social-media-svg" src="../../../../assets/svg/facebook-svgrepo-com.svg" alt="facebook">
            <img class="social-media-svg" src="../../../../assets/svg/linkedin-svgrepo-com.svg" alt="linkedin">
            <img class="social-media-svg" src="../../../../assets/svg/X_logo_2023.svg" alt="x">
            <img class="social-media-svg" src="../../../../assets/svg/instagram-svgrepo-com.svg" alt="instragram">
        </div>
        <p class="description">
            I'm a software developer with a passion for web development. I'm always looking for new challenges and opportunities to learn new things.
        </p>
        <div class="buttons">
            <button class="follow">Follow</button>
            <button class="message">Message</button>
        </div>
    </div>
</article>