.content {
    display: flex;
}

.images {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-right: 24px;
}

.preview-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-bottom: 12px;
    border: 1px solid rgb(77, 76, 76);
    border-radius: 8px;
    cursor: pointer;
}

.content {
    border: 1px solid red;
}

.content > img {
    width: 100%;
    height: calc(100vh - 48px * 4);
    max-width: 368.04px;
    max-height: 503.2px;
    object-fit: cover;
    border: 1px solid red;
    border-radius: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    margin-left: 32px;
}

h2 {
    margin-top: 24px;
    color: rgb(61, 116, 234);
    font-size: 18px;
}

h1 {
    margin-top: 24px;
}

p {
    margin-top: 12px;
    color: rgb(77, 76, 76);
}

.price-ofert {
    border: 1px solid palevioletred;
    margin-top: 24px;
    font-size: 32px;
    display: flex;
}

.ofert {
    background-color: rgba(61, 116, 234, 0.4);
    color: rgb(29, 89, 219);
    font-weight: 600;
    margin-left: 24px;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.old-price {
    color: rgb(77, 76, 76);
    text-decoration: line-through;
    margin-top: 12px;
}

h3 {
    font-weight: 600;
    margin-top: 24px;
}

.sizes {
    display: flex;
    margin-top: 12px;
}

.size {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(77, 76, 76);
    border-radius: 4px;
    margin-right: 12px;
    cursor: pointer;
}

.add-to-bag {
    display: flex;
    margin-top: 24px;
    background-color:rgb(61, 116, 234);
    color: white;
    height: 48px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}