<div class="content">
    <div class="images">
        <img class="preview-image" src="../../../../assets/img/addToBag1.webp" alt="t-shirt">
        <img class="preview-image" src="../../../../assets/img/addToBag2webp.webp" alt="t-shirt">
        <img class="preview-image" src="../../../../assets/img/addToBag3webp.webp" alt="t-shirt">
    </div>
    <div class="content">
        <img src="../../../../assets/img/addToBag1.webp" alt="t-shirt">
        <div class="info">
            <h2>GAP</h2>
            <h1>VALUE BOYS - Camiseta de manga larga - blue</h1>
            <p>Camiseta de manga larga con material exterior 100% algondón</p>
            <div class="price-ofert">
                <span class="price">19,95 €</span>
                <span class="ofert">-20%</span>
            </div>
            <span class="old-price">24,95 €</span>
            <h3>Choose size</h3>
            <div class="sizes">
                <button class="size">S</button>
                <button class="size">M</button>
                <button class="size">L</button>
                <button class="size">XL</button>
                <button class="size">XXL</button>
            </div>
            <button class="add-to-bag">Add to bag</button>
        </div>
    </div>
</div>
